<%- model_class = RentBook -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <h2><%=t "#{@rent_book.book.title}", :model => model_class.model_name.human.titleize %></h2>
</div>
<%= render :partial => 'form' %>
